/**
  *   #CORE
  */

/**
  *   #SPACING
  */

@function space($space, $default: 'base') {
  @return map-get(map-get($spacing, $space), $default);
}

$spacing: (
  site: (
    base: 1em,
    half: .5em,
    double: 2em,
    triple: 3em,
    quad: 4em,
    grid: 1.5em,
    desktopSpacing: 2.375rem,
    tabletSpacing: 2rem,
    tabletPortraitSpacing: 1.5rem,
    mobileSpacing: 1rem,
    desktopBottom: 6rem,
    tabletBottom: 3rem,
    tabletPortraitBottom: 2.5rem,
    mobileBottom: 1.5rem
  ),
  negative: (
    base: -1em,
    half: -.5em,
    double: -2em,
    triple: -3em,
    quad: -4em,
    grid: -1.5em,
    desktopSpacing: -2.375rem,
    tabletSpacing: -2rem,
    tabletPortraitSpacing: -1.5rem,
    mobileSpacing: -1rem
  )
) !default;

/**
  *   #DEPTH
  */

@function depth($depth, $default: 'base') {
  @return map-get(map-get($depths, $depth), $default);
}

$depths: (
  site: (
    base: 1,
    aboveAll: 100,
    behind: -1,
    zero: 0,
    above: 10,
    plainCrazy: 999999
  )
) !default;

/**
  *   #GRID
  */

$grid-breakpoints: (
  tablet: tablet,
  tabletPortrait: tabletPortrait,
  desktop: desktop,
  mobile: mobile
) !default;

/**
  *   #COLUMN SIZES
  */

$column-sizes: 20, 25, 30, 33.33334, 40, 45, 50, 55, 60, 66.66667, 70, 75, 80,
  100 !default;

/**
  *   #GRID POSITION OPTIONS
  */

$grid-position: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
) !default;
