///*------------------------------------*\
//    #FONTS
//\*------------------------------------*/
@function size($size, $item: 'base') {
   @return map-get(map-get($sizes, $size), $item);
}
/* Font Sizes */
$base-font-size: 16px !default;
$sizes: ( headings: ( base: 22px, heading-size-1: 26px, heading-size-2: 24px, heading-size-3: 19px, heading-size-4: 18px, heading-size-5: 18px, heading-size-6: 16px, heading-size-7: 16px, heading-size-8: 16px, heading-size-9: 14px, heading-size-10: 14px ), site: ( base: 16px, double: 32px, triple: 48px, half: 8px, brand: 24px, sidebar: 24px, content: 16px, large: 20px, medium: 14px, normal: 12px, small: 11px, smallest: 9px ), brand: ( title: 38px, focus: 30px, subtitle: 26px, larger: 21px, large: 18px, smaller: 15px, button: 14px, smallest: 12px ), landingpage:( small: 24px, mobile-small: 16px, normal: 32px, mobile-normal: 24px, medium: 60px, mobile-medium: 40px, large: 130px, mobile-large: 80px, code: 30px, mobile-code: 16px, tnc: 18px, mobile-tnc: 16px ), special:( ) ) !default;
$sanSerif: 'Raleway', sans-serif !default;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif !default;
/* Line Heights */
$base-line-height: $base-font-size !default; //reuseable font groups

%sanSerif {
  font-family: $sanSerif;
  font-weight: normal;
}

%serif {
  font-family: $serif;
  font-weight: normal;
}
