/**
  *   #COLOURS
  */

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}

$palettes: (
  site: (
    base: #2d3034,
    dark: #000000,
    light: #ffffff,
    background: #ffffff,
    content: #2d3034,
    brand: #2d3034
  ),
  links: (
    base: #2d3034,
    link: #2d3034,
    hover: darken(#2d3034, 20%),
    active: #2d3034,
    visited: #2d3034
  ),
  nav: (
    base: #ffffff,
    hover: #ffffff,
    active: #ffffff
  ),
  debug: (
    base: #333f4d,
    hatching: #ffcc00,
    text: #ffffff
  ),
  alert: (
    base: #0092d1,
    warning: #ed9f2d,
    error: #e73743,
    success: #84bf41
  ),
  design: (
    headerBackground: #101010,
    searchBackground: #040404,
    brand: #b60008,
    brandLight: #e30a13,
    nav: #c7c6c6,
    navHover: #ffffff,
    border: #313131,
    footerBackground: #f9f9f9,
    grey: #555555,
    siteDark: #444444,
    sectionBg: #f7f7f7
  )
) !default;
