/**
  *   #WRAPPER
  */

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.wrapper--short {
  max-width: 1524px;
  position: relative;
  margin: 0 space(site, mobileSpacing);
  width: auto;

  @include mq($from: mobile) {
    margin: 0 space(site, tabletPortraitSpacing);
  }

  @include mq($from: tablet) {
    margin: 0 space(site, desktopSpacing);
  }

  @include mq($from: wide) {
    margin: 0 auto;
  }
}
