/**
  *   #BUTTONS
  */

.btn,
.button {
  @include button(
    $defaultBackground: palette(design, brand),
    $hoverBackground: palette(design, headerBackground),
    $defaultColour: palette(site, light),
    $hoverColour: palette(site, light),
    $padding: space(site, grid) space(site, tabletPortraitSpacing),
    $paddingHover: space(site, grid) space(site, tabletPortraitSpacing),
    $margin: 0
  );

  /**
 * Fix a Firefox bug whereby `input type='submit'` gains 2px extra padding.
 */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .icon {
    @include transition(transform .3s ease);
  }

  &:hover {
    .icon {
      transform: translateX(1em);
    }
  }

  &--black,
  .main__content--padding .main__body--single &--black {
    background-color: palette(design, searchBackground);
  }

  &--red,
  .main__content--padding .main__body--single &--red {
    @include link-colors(palette(site, light));
    text-decoration: none;

    width: 94%;
    margin: 0 auto space(site, tabletBottom);

    @include mq($from: tabletPortrait) {
      margin: 0 0 space(site, desktopBottom) 0;
      max-width: 360px;
    }
  }

  &--small,
  .main__content--padding .main__body--single &--small {
    margin: 0;

    @include mq($from: tabletPortrait) {
      margin: 0;
      max-width: 200px;
    }
  }

  &--back {
    width: 94%;
    margin: 0 auto space(site, desktopBottom);

    @include mq($from: tabletPortrait) {
      margin: 0 0 space(site, desktopBottom) space(site, desktopSpacing);
      max-width: 360px;
    }

    &:hover {
      .icon {
        transform: translateX(-1em);
      }
    }
  }
}
