/**
  *   #FORMS
  */

input {
  &[type='text'],
  &[type='url'],
  &[type='tel'],
  &[type='number'],
  &[type='color'],
  &[type='email'],
  &[type='password'],
  &[type='search'],
  &[type='text'],
  &[type='radio'],
  &[type='checkbox'],
  select,
  textarea {
    background: palette(site, light);
    width: 100%;
    padding: space(site);
    border-radius: 0;
    border: solid palette(site) 1px;
    margin-bottom: space(site);
    display: block;
    font-weight: normal;
    position: relative;

    @include placeholder() {
      color: palette(site, dark);
    }

    &:focus {
      color: palette(site, dark);
    }

    &:disabled {
      -webkit-text-fill-color: palette(site);
    }
  }
}

form {
  display: block;
}

.input {
  &__text,
  &__textarea {
    position: relative;
    background: none;
    width: 100%;
    border: none;
    outline: none;

    label {
      position: absolute;
      top: .2em;
      left: .2em;
      z-index: depth(site);
    }

    &.active {
      label {
        top: -1em;
        left: 0;
        pointer-events: none;
      }
    }
  }
}
