/**
  *   #SHOW
  */

.show {
  &-mobile,
  &-tablet,
  &-tabletPortrait,
  &-desktop {
    display: none;
  }

  &-tabletPortrait {
    @include mq($from: mobile, $until: tabletPortrait) {
      display: block;
    }
  }

  &-tablet {
    @include mq($from: mobile, $until: tablet) {
      display: block;
    }
  }

  &-desktop {
    @include mq($from: tablet) {
      display: block;
    }
  }

  &-mobile {
    @include mq($until: mobile) {
      display: block;
    }
  }
}
