/**
  *   #BURGER
  */

// Burger
@mixin burger(
  $width: 15px,
  $height: 5px,
  $gutter: 3px,
  $color: #000,
  $border-radius: 0,
  $transition-duration: 1s
) {
  position: relative;
  margin-top: $height + $gutter;
  margin-bottom: $height + $gutter;
  user-select: none;

  &,
  &::before,
  &::after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    vertical-align: middle;

    @if $border-radius != 0 {
      border-radius: $border-radius;
    }

    transition-property: background-color, transform;
  }

  &::before,
  &::after {
    position: absolute;
    transition: .7s ease;
    content: '';
  }

  &::before {
    top: -($height + $gutter);
  }

  &::after {
    top: $height + $gutter;
  }
}

// Select parts of the burger
@mixin burger-parts {
  &,
  &::before,
  &::after {
    @content;
  }
}

@mixin burger-top {
  &::before {
    @content;
  }
}

@mixin burger-middle {
  & {
    @content;
  }
}

@mixin burger-bottom {
  &::after {
    @content;
  }
}

// Burger animations
@mixin burger-to-cross($height: 5px, $gutter: 3px) {
  & {
    background-color: transparent;
  }

  &::before {
    transform: translateY($gutter + $height) rotate(45deg);
  }

  &::after {
    transform: translateY(-($gutter + $height)) rotate(-45deg);
  }
}

.burger {
  position: absolute;
  top: 1.4em;
  right: 0;
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: 18px;
  cursor: pointer;

  &--icon {
    @include burger(
      $width: $burger-icon-width,
      $height: $burger-icon-height,
      $gutter: $burger-icon-gutter,
      $color: $burger-icon-color
    );

    margin: 0;
    left: 0;
  }
  &.active .burger--icon {
    @include burger-to-cross($height: $burger-icon-height, $gutter: $burger-icon-gutter);
  }
}
