/**
  *   #ALERTS
  */

$alertTypes: warning, error, success, info;

.alert {
  display: block;
  clear: both;
  padding: space(site);
  margin: space(site) 0 0;
  list-style: none;
  border-left: 5px solid palette(alert);
  margin-top: 0;

  li {
    list-style: none;
  }

  p {
    margin: 0;
  }

  @each $alert in $alertTypes {

    &__#{$alert} {
      background: rba(palette(alert, #{$alert}), .3);
      border-left-color: palette(alert, #{$alert});
      color: palette(alert);
    }
  }
}
