/**
  *   #BUTTONS
  */

.btn,
.button {
  @include button(
    $defaultBackground: palette(design, brand),
    $hoverBackground: palette(design, headerBackground),
    $defaultColour: palette(site, light),
    $hoverColour: palette(site, light),
    $padding: space(site, grid) space(site, tabletPortraitSpacing),
    $paddingHover: space(site, grid) space(site, tabletPortraitSpacing),
    $margin: 0
  );

  /**
 * Fix a Firefox bug whereby `input type='submit'` gains 2px extra padding.
 */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
