.loading__animation {
  border-radius: 50%;
  width: space(site, double);
  height: space(site, double);
  border: .25rem solid palette(site, brand-light);
  border-top-color: palette(site, brand);
  animation: spin 1s infinite linear;
  margin: 0 auto;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}