.nav__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.nav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    justify-self: flex-start;
  }
  .menu-item {
    position: relative;
    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
        top: 2em;
      }
    }
  }
  a {
    @include transition(color .3s ease);
    @include responsiveFont(nav, 1);

    display: block;
    position: relative;
    &::after {
      @include transition(width .3s ease);
      @include pseudoElement;

      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: palette(site, content);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  .current-menu-item {
    a {
      &::after {
        width: 100%;
      }
    }
  }
}

.sub-menu {
  @include transition(top ease .4s);

  padding: 0;
  list-style: none;
  background-color: rgba(palette(site, dark), .8);
  z-index: depth(site, above);

  @include mq($from: tablet) {
    text-align: left;
    visibility: hidden;
    position: absolute;
    top: 1em;
    left: 0;
    opacity: 0;
    min-width: 400px;
    padding: 1em 0;
    box-shadow: none;
  }
  a {
    @include responsiveFont(subNav, 1.4);
    &::after {
      display: none;
    }
  }
}
