/**
  *   #WRAPPER
  */

.wrapper {
  max-width: $wrapper-max-width;
  margin: 0 auto;
  width: $wrapper-width;
  position: relative;
}

.wrapper--short {
  max-width: $wrapper-short-max-width;
  position: relative;
  margin: 0 space(site, mobileSpacing);
  width: auto;

  @include mq($from: mobile) {
    margin: 0 space(site, tabletPortraitSpacing);
  }

  @include mq($from: tablet) {
    margin: 0 space(site, desktopSpacing);
  }

  @include mq($from: wide) {
    margin: 0 auto;
  }
}