/**
  *   #FORMS
  */

form {
  display: block;
}

@each $inputType in $inputTypes {
  input[type='#{$inputType}'] {
    @include inputDefault;
  }
}

select,
textarea {
  @include inputDefault;
}

.o-input {
  &__text,
  &__textarea {
    position: relative;
    background: none;
    width: 100%;
    border: none;
    outline: none;

    &--fixedLabel {
      label {
        position: absolute;
        z-index: depth(site);
        pointer-events: none;
      }

      ::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      margin-right: $inuit-global-spacing-unit-small;
    }
  }

  &__radio {
    display: flex;
    align-items: center;

    input[type='radio'] {
      margin-right: $inuit-global-spacing-unit-small;
    }
  }
}
