/**
  *   #PAGE
  */

html {
  font-family: $sanSerif;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  overflow-y: auto;
  min-height: 100%;
  background-color: palette(site, background);
  color: palette(site, content);
  font-weight: 400;
}

.noScroll {
  overflow: hidden;
}
