/**
  *   #PAGE
  */

html {
  font-family: map-get($fontDefaults, sansSerif);
  font-size: (size(site) / 16px) * 1em;
  line-height: map-get($fontDefaults, line-height);
  overflow-y: scroll;
  min-height: 100%;
  background-color: pal(site, background);
  color: pal(site, content);
  font-weight: 400;
}
