@use "sass:map";
/**
  *   #PAGE
  */

html {
  font-family: map.get($fontDefaults, sansSerif);
  font-size: em(16);
  line-height: map.get($fontDefaults, line-height);
  overflow-y: scroll;
  min-height: 100%;
  background-color: c(Background);
  color: c(Content);
  font-weight: map.get($fontDefaults, weight);
}
