@use "sass:map";
/**
  *   #HEADINGS
  */

@include headings() {
  font-weight: map.get($fontDefaults, weight);
}

h1 {
  font-size: f(H1);
}

h2 {
  font-size: f(H2);
}

h3 {
  font-size: f(H3);
}

h4 {
  font-size: f(H4);
}

h5 {
  font-size: f(H5);
}

h6 {
  font-size: f(H6);
}
