/**
  *   #FONTS
  */

/**
  *   #DEFAULT VARIABLES
  */

$sansSerif: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$serif: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !default;

$fontDefaults: (
  weight: 400,
  line-height: 1,
  sansSerif: $sansSerif,
  serif: $serif,
) !default;

/**
  *   #RE-USEABLE FONT GROUPS
  */

%sanSerif {
  font-family: map-get($fontDefaults, sansSerif);
  font-weight: map-get($fontDefaults, weight);
}

%serif {
  font-family: map-get($fontDefaults, serif);
  font-weight: map-get($fontDefaults, weight);
}
