/**
  *   #FONTS
  */

$sansSerif: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$serif: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !default;

$fontDefaults: (
  weight: 400,
  line-height: 1,
  sansSerif: $sansSerif,
  serif: $serif,
) !default;
