///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
$tableBorder: 0 !default;
$inputBorder: 1px solid pal(site, dark);

/**
  *   #DEFAULT VARIABLES
  */
$wrapper: (
  maxWidth: 1280px,
  width: 90%,
) !default;

$burger: (
  width: 30px,
  height: 5px,
  gutter: 3px,
  colour: pal(site, dark),
  borderRadius: 0,
  transitionDuration: 0.3s,
) !default;

/**
  *   #RATIOS
  */

$inuit-ratios: (
  '16\\:9': (
    16: 9,
  ),
) !default;

/**
  *   #SPACING
  */

@function space($space, $default: 'base') {
  @return map-get(map-get($spacing, $space), $default);
}

$spacing: (
  site: (
    base: 0.75em,
    half: 0.375,
    double: 1.5,
    triple: 2.25em,
    quad: 3em,
    grid: 0.75em,
  ),
  negative: (
    base: -0.75em,
    half: -0.375,
    double: -1.5,
    triple: -2.25em,
    quad: -3em,
    grid: -0.75em,
  ),
) !default;

/**
  *   #DEPTH
  */

@function depth($depth, $default: 'base') {
  @return map-get(map-get($depths, $depth), $default);
}

$depths: (
  site: (
    base: 1,
    behind: -1,
    zero: 0,
    above: 10,
    high: 15,
    higher: 20,
    highest: 100,
    aboveAll: 150,
  ),
) !default;

/**
  *   #INPUT TYPES
  */

$inputTypes: 'color', 'date', 'datetime', 'datetime-local', 'email', 'file', 'hidden', 'image', 'month', 'number', 'password', 'range', 'search', 'tel', 'text',
  'time', 'url', 'week' !default;
