.c-font {
  &__size {
    &--smallest {
      font-size: f(Smallest);
    }

    &--small {
      font-size: f(Small);
    }

    &--normal {
      font-size: f(Normal);
    }

    &--medium {
      font-size: f(Medium);
    }

    &--large {
      font-size: f(Large);
    }

    &--xlarge {
      font-size: f(Xlarge);
    }

    &--xxlarge {
      font-size: f(XXlarge);
    }

    &--xxxlarge {
      font-size: f(XXXlarge);
    }
  }

  &__transform {
    &--upper {
      text-transform: uppercase;
    }
    &--lower {
      text-transform: lower;
    }
    &--none {
      text-transform: none;
    }
  }

  &__colour {
    &--light {
      color: c(Light);
    }
    &--dark {
      color: c(Dark);
    }
  }

  &__weight {
    &--thin {
      font-weight: 100;
    }

    &--light {
      font-weight: 300;
    }

    &--regular {
      font-weight: 400;
    }

    &--medium {
      font-weight: 500;
    }

    &--bold {
      font-weight: 700;
    }

    &--black {
      font-weight: 900;
    }
  }

  &__align {
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
  }

  &__margin {
    &--half {
      margin-bottom: s(Half);
    }

    &--one {
      margin-bottom: s(Half);
    }

    &--double {
      margin-bottom: s(Double);
    }

    &--zero {
      margin-bottom: 0;
    }
  }

  &__family {
    &--sans {
      font-family: $sansSerif;
    }
    &--serif {
      font-family: $serif;
    }
  }
}
