/**
  *   #LAYOUT - FLEX
  */

$directions: top, left, right, bottom !default;
$spacing: Half, Base, One, Two, Double, Triple, Quad !default;

.c-layout {
  &__space {
    &--center {
      margin: 0 auto;
    }

    @each $space, $value in $spacing {
      @each $direction, $value in $directions {
        $spaceType: #{to-lower-case(#{$space})};
        &--#{$direction}-#{$spaceType} {
          margin-#{$direction}: var(--space#{$space});
        }
      }
    }
  }
}
