/**
  *   #RESPONSIVE FONT
  */

@mixin responsiveFont($variableName, $lineHeight: 1) {
  font-size: (size(mobile, $variableName) / $base-font-size) * 1rem;
  line-height:$lineHeight;

  $tabletSize: size(tablet, $variableName);
  $tabletPortraitSize: size(tabletPortrait, $variableName);
  $desktopSize: size(desktop, $variableName);
  $wideSize: size(wide, $variableName);

  @if ($tabletPortraitSize) {
    @include mq($from: mobile) {
      @include font-size(size(tabletPortrait, $variableName), $lineHeight);
    }
  }

  @if ($tabletSize) {
    @include mq($from: tabletPortrait) {
      @include font-size(size(tablet, $variableName), $lineHeight);
    }
  }

  @if ($desktopSize) {
    @include mq($from: tablet) {
      @include font-size(size(desktop, $variableName), $lineHeight);
    }
  }

    @include mq($from: desktop) {
    font-size: $wideSize;
    font-size: ($wideSize / $base-font-size) * 1rem;
  }
}
