/**
  *   #FONTS
  */

@mixin font-size($font-size, $line-height: auto) {
  font-size: ($font-size / $inuit-global-font-size) * 1rem;
  @if $line-height == auto {
    line-height: ceil($font-size / $inuit-global-line-height) * ($inuit-global-line-height / $font-size);
  } @else {
    @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
      line-height: $line-height;
    }
  }
}
