@mixin inputDefault {
  background: var(--colourLight);
  width: 100%;
  padding: var(--spacingBase);
  border-radius: 0;
  border: $inputBorder;
  color: var(--colourDark);
  margin-bottom: var(--spacingBase);
  display: block;
  font-weight: normal;
  position: relative;

  &::placeholder {
    color: var(--colourDark);
  }

  &:focus {
    color: var(--colourDark);
  }

  &:disabled {
    -webkit-text-fill-color: var(--colourDisabled);
  }
}
