@mixin inputDefault {
  background: map-get($input, background);
  width: 100%;
  padding: map-get($input, padding);
  border-radius: 0;
  border: map-get($input, border);
  color: map-get($input, textColour);
  margin: map-get($input, margin);
  display: block;
  font-weight: normal;
  position: relative;

  &::placeholder {
    color: map-get($input, textColour);
    font-weight: inherit;
    opacity: 1;
  }

  &:focus {
    color: map-get($input, textColour);
  }

  &:disabled {
    -webkit-text-fill-color: c(Disabled);
  }
}
